<h1>Angular</h1>

<router-outlet></router-outlet>

<!-- <followers></followers> -->

<!-- <get-http-posts></get-http-posts> -->

<!-- <change-pw></change-pw> -->

<!-- <form-array></form-array> -->

<!-- <signup-form></signup-form> -->

<!-- <course-form></course-form> -->

<!-- 
<zippy title = "Some title1">
    <p>Some markup2</p>
</zippy> -->

<!-- <directive-input-test></directive-input-test> -->

<!-- <for></for> -->

<!-- <switch></switch>   -->

<!-- 
<like
    liked="false"
    likeCount="222"
></like> -->

<!-- <bootstrap-panel>
    <div class="body">my body</div>
</bootstrap-panel> -->


<!-- <favorite [is-favorite]="true" (change)="onFavoriteChanged($event)"></favorite> -->
<!-- <title-input></title-input> -->
<!-- <courses></courses> -->
<!-- <authors></authors> -->